/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2018, 14:40:17
    Author     : hpp
*/

.barranav{
    background: linear-gradient(#4CAF50,#212121 );
}
.style-footer{
    background: linear-gradient(#212121, #4CAF50 );
    text-align: center;
}
.registro{
    text-align: center;
}
.contenedor{
    margin-top: 10px;
}
.logoregistro{
    box-shadow: 5px 5px #4CAF50;
    border-radius: 30px;
}
.btncolorboton{
    background: #4CAF50;
}
.bg-color{
    background: linear-gradient(#ffffff,#8ccd99 );
}
/*DESDE ACA EMPIEZAN LOS ESTILOS PARA EL FONDO DE LA PAGINA*/
body{
    background:url(../img/Smoothies_mini.jpg) ;
    background-repeat:no-repeat ;
    background-size:cover ;
    background-position:0,0 ;
    background-attachment: fixed;
    
    font-family:helvetiva, arial, sans-serif;
    line-height: 20px;    
}
.parrafo{
    color: red;
}
p{
    color: black;
}
.cuadro{
    background: linear-gradient(#4CAF50,#212121 );
      
}